body {
  margin: 0;
  all: none;
  font-family: Open Sans;
  
}  
nav{

  display: flex;
  justify-content: space-between;
  padding: 60px 60px 40px 80px; 
  
 
}
.laptop_S2 {
  display: none;
}

.laptop1 img {
  display: none;
}
.background_home {
  background-color: #e0755f;
  background-image: url("./images/bg-pattern-intro-desktop.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 3000px;
  background-position: -450px -1250px;
  border-radius: 0px 0px 0px 85px;
}

.left_nav {
  display: flex;
  
}
a {
  all: unset;
  color: white;
  
}
.logo {
  margin-right: 100px;
}

.menu {

  color:white ;
  

}
.burger_menu_content{
  display: none;
}
.btn_log {
  all: unset;
  color: white;
  margin-right: 10px;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
}
.btn_Sign {
  all:unset;
  background-color: white;
  color: #ff6162;
  padding: 10px 25px 10px 25px;
  border-radius: 30px;
  border-color: white;
  font-weight: bold;
}
.btn_Sign:hover,.btn_Sign1:hover{
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.271) ;
}
.btn_Sign1{
  all: unset;
  background-color: white;
  color: #ff6162;
  padding: 15px 20px 15px 25px;
  border-radius: 30px;
  border-color: white;
  font-weight: bold;
}
.btn_learn:hover,.btn_log:hover{
  background-color: white;
  color: #ff6162;
}
  .dropdown {
    position: relative;
    display:inline-block;
    padding-right: 30px;
    line-height: 40px;
   
    
  }
  .arrow_menu{
    display: flex;
    align-items: center;
    

  }
  .arrow {
        background-image: url(./images/icon-arrow-dark.svg);
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    margin-left:4px;
    margin-top: 4px;
   
  }
  .arrow_menu:hover .arrow{
    transform: rotate(180deg);
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 6px;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
  font-weight: bold;
  
}

.dropdown:hover .dropdown-content {display: block; }



.btn_learn {
  all:unset;
  background-color: #ff6162;
  color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 30px;
  border-color: white;
  border: 2px solid;
  margin-left: 10px;
  font-weight: bold;
}
.nav_btn {
  margin: auto;
}
.Home {
  display: grid;
  align-items: center;
  justify-content: center;
}
.Home_text {
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
}
.Home_text > h1 {
  font-size: 55px;
}
.Home_text > p {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.Home_btn {
  display: flex;
  justify-content: center;
  padding-bottom: 220px;
}

.S2_image{
  background-image: url("./images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  width: 2000px;
  height: 500px;
  background-size: 900px 800px;
  padding-bottom: 300px;
  position: relative;
  bottom: 180px;


}
.S2_part1 {
  display: flex;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 60px;
}
.S2_part2 {
  margin-left: 150px;
}

.S2_part2_p {
  width: 60%;
}
.S2_content{
  display: flex;

}

.Section3 {
  background-color: #3d3e59;
  background-image: url("./images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  max-height: 397px;
 
 
  background-size: 900px 800px;
  background-size: 1300px;
  background-position: -400px -720px;

  border-radius: 0px 85px 0px 85px;
}

.S3_part1 {
  display: flex;
  justify-content: center;
}
.S3_part1_text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  color: white;
  width: 35%;
}
.S3_part1_text > h1 {
  font-size: 35px;
}
.Phone {
  background-image: url(./images/illustration-phones.svg);
width: 40%;
height: 550px;
position: relative;
bottom: 75px;
left: 110px;
background-repeat: no-repeat;
}

.Section4 {
  padding-bottom: 300px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  
  
}
.laptop1{
  background-image: url(./images/illustration-laptop-desktop.svg);
  width: 3250px ;
  height: 800px;
  position: relative;
  background-repeat: no-repeat;
  right: 280px;
  bottom: 20px;
}

.S4_p{
  width: 77%;
}

.Footer{
  
  background-color: #24242C;
  border-radius: 0px 85px 0px 0px;
  padding-top: 100px;
  padding-bottom: 60px;
}

.Footer_content{
  display: flex;
  justify-content: space-around;
}
.bold{
  font-weight: bold;
  padding-bottom:20px ;
  color: white;
}

.list>a{
  color: rgba(255, 255, 255, 0.511);
  display: block;
  padding-bottom: 13px;
}


/* MEDIA QUERIES */
@media screen and (max-width:768px) {
  
 
}


@media screen and (max-width:480px){

  
.menu{
  display: none;
}
.btn_Sign{
  display: none;
}
.btn_log{
  display: none;
}

.btn_learn{
  
  color: white;
  padding: 20px 28px 20px 28px;
  border-radius: 45px;
  border-color: white;
  font-weight: 800;
  font-size: 20px;
}
.btn_Sign1{
  background-color: white;
  color: #ff6162;
  padding: 20px 25px 20px 25px;
  border-radius: 45px;
  border-color: white;
  font-weight: 800;
  font-size: 20px;
}
.Section1{
background-color: #e0755f;
background-image: url("./images/bg-pattern-intro-desktop.svg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 3000px;
background-position: -450px -1250px;
border-radius: 0px 0px 0px 85px;

;
}
.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}
.burger-bar {
  width: 3em;
  height: 0.2em;
  background-color: white;
  border-radius: 0.4em;
}

.menu {
  width: 90%;
  height: 75vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 100px auto 0 0px;
  border-radius: 12px;
  position: absolute;
  top: 0;
  z-index: 1;

  
}
.burger_menu_content{
  margin: 40px auto 0px auto;
  display: block;
}
.burger_text span{
  padding: 0px 0px 25px 0px;
  display: block;
}
.burger_text{
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
hr{
  width:325px;
  color:rgb(29, 155, 143);

}
.burger_drop{
  background-color: #EFEFF1;
  border-radius: 5px;
}
.burger_drop a{
  display: block;
  color: black;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  
}

.burger_btn button{
  display: block;
  margin: 20px auto 0px auto;
}
.burger-b{
  color: black;
  font-size: 25px;
}
.burger-b2{
  display: block;
  all:unset;
  background-color: #ff6162;
  color: white;
  padding: 15px 35px 15px 35px;
  border-radius: 30px;
  border-color: white;
  font-size: 25px;
  border: 2px solid;
  margin-left: 10px;
  font-weight: bold;
}

.burger_drop_content{
  display: block;
}
.hidden {
  display:none;
}

.visible {
  display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(0.8em, 1.20em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
  transform: scale(0.02);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(-0.6em, 1em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.Home_text{
  text-align: center; 
  margin-left: 30px;
  margin-right: 30px;
}
.Home_text h1  {
  font-size: 43px;
}
.Home_text p{
font-size: 20px;
}

nav{
  padding: 30px;
}
.S2_content{
all: unset;

}
.S2_image {
  display:none;
}
.laptop_S2{
  width:350px;
  height: 100%;
   right: 0px;
   bottom: 0px;
   margin: 0px auto 0px auto;
   display: block;
 }
 .laptop_S2 img{
   width: 100%;
    height: 100%;  
    display: block;
  }
.S2_part2{
  text-align: center;
  margin-left: 0px;
}
.S2_part2 h1 {

  margin: 0px auto 0px auto;
  width: 80%;
}

.S2_part2_p {
  width: 67%;
  margin: 0px auto 0px auto;
  padding-bottom: 100px;
  padding-top: 20px;
}
.Phone{
 display: none;
}
.S3_part1 {
  display: inline-block;
}

.Section3{
  padding-bottom: 300px;
}
.S3_part1_text{
  width: 100%;
 
}
.S3_p1_t{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.S3_p1_p{
  text-align: center;
  margin: 0px auto 0px auto;
  width: 70%;
}
.Section4{
  display: inline-block;
}

.laptop1{
  background-image: none;
 width:350px;
 height: 100%;
  right: 0px;
  bottom: 0px;
  margin: 0px auto 0px auto;
}
.laptop1 img{
  width: 100%;
   height: 100%;  
   display: block;
 }

.Section4_text,.S4_p{
  text-align: center;
  margin: 0px auto 0px auto;
}
.Footer_content{
  display: grid;
  margin-left: auto;
  margin-right: auto;
}
.list{
  text-align: center;
  padding-top: 20px;
}
}
